/* Reset everything */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent scrolling */
html, body {
  height: 100%;
  overflow: hidden;
}
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
